@use "./reset" as *;
@use "./colors" as *;

@use "./layout/wrap" as *;
@use "./layout/header" as *;
@use "./layout/nav" as *;
@use "./layout/about-me" as *;
@use "./layout/projects" as *;
@use "./layout/price" as *;

@use "./components/bg-hero-text" as *;
@use "./components/burger-menu" as *;
@use "./components/nav-big" as *;
@use "./components/logos" as *;

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  max-width: 100vw;
  overflow-x: hidden;
}
