*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  font-family: "Anton", sans-serif;
}

h2 {
  font-size: 7.6rem;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #252525;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #b747dc;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
a:hover::after, a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  padding-block: 3rem;
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 15rem;
  }
}
@media screen and (min-width: 1400px) {
  h2 {
    font-size: 18rem;
  }
  p {
    font-size: 3rem;
  }
}
.wrap {
  max-width: 1440px;
  padding: 3rem;
}

header {
  position: relative;
  height: 95dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
header .hero {
  width: 100%;
}
header .hero__circle {
  width: 480px;
  height: 480px;
  position: absolute;
  border: 1px solid #5d007c;
  border-radius: 50%;
  top: -200px;
  left: -200px;
  z-index: 10;
}
header .hero__circle::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #b747dc;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 6s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-240px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-240px) rotate(-360deg);
  }
}
header .hero__circle-2 {
  width: 480px;
  height: 480px;
  position: absolute;
  border: 1px solid #5d007c;
  border-radius: 50%;
  bottom: -200px;
  right: -200px;
  z-index: 10;
}
header .hero__circle-2::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #b747dc;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 10s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-240px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-240px) rotate(-360deg);
  }
}
header .hero__paragraf {
  display: flex;
  flex-direction: column;
  font-size: 3.6rem;
  font-weight: 600;
  margin-block-start: 3rem;
  padding: 2rem 2rem;
}
@media screen and (min-width: 1400px) {
  header .hero__paragraf {
    font-size: 5.6rem;
  }
}
header .hero__img {
  display: none;
}
@media screen and (min-width: 992px) {
  header .hero__img {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  header .hero__img img {
    position: absolute;
    top: -200px;
    width: 900px;
  }
}
header body.no-scroll {
  overflow: hidden;
}
header body.no-scroll {
  overflow: hidden;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  box-shadow: 0px 11px 25px -12px rgb(66, 68, 90);
  transition: max-width 0.2s ease-in-out, padding 0.3s ease-in-out;
}
@media screen and (min-width: 992px) {
  nav .menuToggle {
    display: none;
  }
}
nav .logo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
}
nav .logo__img {
  padding: 1rem;
  border-radius: 15px;
  background-color: #b747dc;
  color: #ffffff;
}

nav.scrolled {
  padding: 1rem 2rem;
  max-width: 1100px;
  transition: max-width 0.3s ease-in-out, padding 0.3s ease-in-out;
}
@media screen and (min-width: 1200px) {
  nav.scrolled {
    top: 3rem;
    border-radius: 15px;
  }
}

.about {
  background-color: #b747dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about__container {
  height: 100%;
  width: 100%;
  color: #ffffff;
}
.about__container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.about__container .content__arow {
  display: none;
}
@media screen and (min-width: 992px) {
  .about__container .content__arow {
    display: block;
    width: 145rem;
    height: 4rem;
    background-color: #5d007c;
    position: relative;
    margin-bottom: auto;
  }
  .about__container .content__arow::before {
    content: "";
    width: 31rem;
    height: 4rem;
    background-color: inherit;
    top: 104px;
    right: -30px;
    position: absolute;
    transform: rotate(-45deg);
  }
  .about__container .content__arow::after {
    content: "";
    width: 4rem;
    height: 25rem;
    background-color: inherit;
    top: 0;
    right: 0;
    position: absolute;
  }
}
.about__container .content__text p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}
.projects .wrap {
  display: flex;
  width: 100%;
}
.projects .wrap h2 {
  display: block;
  position: relative;
}
.projects .wrap h2::after {
  content: "";
  width: 24rem;
  height: 10rem;
  background-color: rgba(183, 71, 220, 0.2);
  position: absolute;
  top: 23px;
  right: -19px;
}
@media screen and (min-width: 992px) {
  .projects .wrap h2::after {
    width: 43rem;
    height: 18rem;
    right: -20px;
    top: 56px;
  }
}
@media screen and (min-width: 1440px) {
  .projects .wrap h2::after {
    width: 45rem;
    height: 20rem;
    right: -20px;
    top: 69px;
  }
}
.projects__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: scroll;
  gap: 50px;
  max-width: 90vw;
}
@media screen and (min-width: 1442px) {
  .projects__container {
    overflow: hidden;
  }
}
.projects__container a .project__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #b747dc;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.projects__container a .project__more:hover {
  background: transparent;
  border: 1px solid #b747dc;
  color: #b747dc;
}
.projects .project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.projects .project .project__img img {
  width: 286px;
  height: 600px;
}
@media screen and (min-width: 1440px) {
  .projects .project .project__img img {
    opacity: 0.2;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .projects .project .project__img img:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
@media screen and (min-width: 2400px) {
  .projects .project .project__img img {
    width: 400px;
    height: 800px;
  }
}

.price {
  background-color: #b747dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.price h2 {
  display: block;
  width: 100%;
}
.price .services__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.price .services__cards .card1 {
  grid-area: 1/1/3/2;
}
.price .services__cards .card2 {
  grid-area: 1/2/2/4;
}
.price .services__cards .card3 {
  grid-area: 2/2/3/4;
}

.hero__name {
  font-family: "Anton", sans-serif;
  font-size: 20rem;
  position: absolute;
  top: 30%;
  left: 0%;
  height: 25rem;
  width: 99.9%;
  overflow: hidden;
  cursor: pointer;
  z-index: -1;
}
@media screen and (min-width: 998px) {
  .hero__name {
    font-size: 44rem;
    height: 74rem;
    top: 20%;
  }
}
.hero__name ul.list {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.hero__name ul.list.cloned {
  position: absolute;
  top: 0px;
  left: 0px;
}
.hero__name ul.list li {
  float: left;
  padding-left: 20px;
}

.menuToggle {
  display: block;
  position: relative;
  right: 0;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
.menuToggle a:hover {
  color: tomato;
}
.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menuToggle span:first-child {
  transform-origin: 0% 0%;
}
.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menuCheckbox {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
  /* CSS to disable body scroll when menu is open */
}
.menuCheckbox:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.menuCheckbox:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menuCheckbox:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.menuCheckbox:checked ~ .menu {
  transform: none;
}
.menuCheckbox:checked ~ .menu {
  position: fixed; /* Fix the menu position */
  top: 0;
  left: 0;
  overflow: hidden; /* Hide overflow when the menu is open */
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Set the height of the menu to 100vh */
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  overflow-y: auto; /* Allow scrolling within the menu */
}
.menu li {
  padding: 10px 0;
  font-size: 22px;
}

.nav__big {
  display: none;
}
.nav__big--social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.nav__big--social .btn-cta {
  margin-right: 1.2rem;
}
.nav__big--social .btn-cta a {
  padding: 1rem;
  border: 1px solid #5d007c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.nav__big--social .btn-cta a:hover {
  background-color: #5d007c;
  color: #ffffff;
}
@media screen and (min-width: 992px) {
  .nav__big {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .nav__big ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.5rem;
  }
  .nav__big ul li {
    position: relative;
  }
  .nav__big i {
    font-size: 3rem;
    flex: 1;
    color: #252525;
  }
}

main {
  width: 100vw;
}
main .carusele {
  background-color: #b747dc;
}
main .logos {
  overflow: hidden;
  padding: 3rem 0;
  white-space: nowrap;
  position: relative;
}
main .logos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #b747dc);
  z-index: 2;
}
main .logos::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #b747dc);
  z-index: 2;
}
main .logos .logos__slide {
  display: inline-block;
  animation: 25s logos-animation infinite linear;
  animation-direction: reverse;
}
main .logos .logos__slide img {
  margin-inline: 1rem;
  padding: 0.2em;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 8px 8px 24px 0px rgb(66, 68, 90);
}
@media screen and (min-width: 992px) {
  main .logos .logos__slide img {
    width: 60px;
    height: auto;
  }
}
@media screen and (min-width: 1800px) {
  main .logos .logos__slide img {
    margin-inline: 2rem;
    width: 110px;
    height: auto;
  }
}

@keyframes logos-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9dfde;
}/*# sourceMappingURL=style.css.map */