header {
  position: relative;
  height: 95dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}
