header {
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body.no-scroll {
  overflow: hidden; /* Disable body scroll */
}

body.no-scroll {
  overflow: hidden;
}
