@use "../colors" as *;

.price {
  background-color: $rose;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $white;

  .quote {
    font-family: "Anton";
    font-size: 2rem;
  }

  hr {
    width: 200px;
    margin-block: 2rem;
  }
  h2 {
    display: block;
    width: 100%;
  }
  .services__cards {
    display: grid;
    gap: 3rem;
    max-width: 1440px;
    justify-content: center;

    &--card {
      display: flex;
      flex-direction: column;
      background-color: $violet;
      justify-content: space-around;
      gap: 4rem;
      padding: 5rem 2rem;
      transition: all 0.3s ease-in-out;

      p:nth-of-type(3) {
        font-family: "Anton";
        font-size: 6rem;
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
      background-color: $rose;
      color: $white;
      font-weight: 600;
      font-size: 2rem;
      border: 1px solid $rose;
      transition: all 0.3s ease-in-out;
      gap: 40px;

      &:hover {
        background: transparent;
      }
    }
    @media screen and (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 30px;

      .card1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .card2 {
        grid-area: 1 / 2 / 2 / 3;
      }
    }
  }
}
